@import "_0-normalize";

$font-stack: 'Inconsolata', monospace;

// Colors
$grey1: #555;
$gold: #CEAF30;

body {
	background-color: dodgerblue;
}

a {
	text-decoration: none;
}


h1, h2 {
	color: pink;
	font-size: 2em;
	font-family: $font-stack;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: $grey1;
}

h2 {
	color: $gold;
	letter-spacing: 3px;
}

h3 {
	color: $grey1;
	font-size: 1.125em;
	font-weight: 400;
	text-transform: uppercase;
}

p {
	font-family: $font-stack;
	font-size: 1.125em;
}

///////////////////////////////////////
// BUTTON ELEMENT
///////////////////////////////////////
.btn {
	text-align: center;
	border: 1px solid $grey1;
	display: inline-block;
	padding: .5em 2em;
	min-width: 9.375rem;
	color: $grey1;


	&--round {
		border-radius: .3125rem;
		background-color: $grey1;
		color: white;
	}

	&--square {
		outline-color: $gold;
		color: $gold;		
	}
}






.device-wrapper {
	// margin: 0 auto;
	background-color: #ccc;
	padding: 3em 0;
	text-align: center;
}

// .iphone6.marvel-device {
// 	margin: 0 auto;
// 	display: block;	
// }



.screen.social-wrapper {

	display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  
  background: white;
  overflow-y: scroll;
  padding-bottom: 2em;
  
  z-index: 10;
  transition: all 1s linear;

	@media screen and (min-width: 468px) {
		// background-color: green;
		position: relative;
		overflow-y: scroll;
	}
}

.hero {
	height: 200px;
	width: 100%;
	background-color: $grey1;
	overflow: hidden;
}


#toon-aaron {
	width: 7.1875rem;
	height: auto;
	padding-top: 3%;
}



.marvel-device.iphone6:after {
	z-index: 0;
}