////////////////////////////////////
// BITS
////////////////////////////////////

// colors
$jhs-gold: gold;
$jhs-green: green;

$brown: dodgerblue;
$brown1: #EEE7DF;
$brown2: #EEE7DF;
$brown3: #DDD1C1;
$brown4: #CDBBA3;
$brown5: #AD8F67;


// sizes
$dot-size: 1em;
$dot-radius: 0.25rem;


// helpers
.hide { display: none; }