/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	
	padding: 0 1em;
	margin: 0 auto;
	position: relative;
	max-width: 700px;
	
	//
	font-family: serif;
	font-size: 16px;
	
	background-color: white;
	
}