////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////

$font-stack : 'Merriweather', serif;
$font-stack: 'Crimson Text', monospace, serif;

body {
	font-family: serif;
	font-family: $font-stack;
	font-weight: 400;
}


h1, h2 { 
	color: $brown5;
	font-weight: 700;
}

h1 {
	font-size: 1.5em; // 24px	
	margin-bottom: 0;
}

h2 {
	font-size: 1.125em; // 18px
	margin-top: 1.5em;
	margin-bottom: 0.6em;
	margin-bottom: 0;
}

h3 {	
	margin: 0.8em 0 .3em;	
	font-size: 1.25em;	
	font-weight: 400;
	color: $jhs-green;
	
	em { 
		display: block;
		font-size: 0.7em;
		line-height: 1.7;
		font-weight: 700;
	}
}

// regular lists
ul {
	margin-left:0;
	margin-top: 0;
	margin-bottom: 0.4em;
	line-height: 1.4;


	padding-left: 0;
	list-style: none;	

	li {
		line-height: 1.6;
		
		// color dots
		&:before {
			/* Unicode bullet symbol */
	    content: '\2022 ';
	    /* Bullet color */
	    color: $brown4;
	    padding-right: 0.5em;
		}

	}

	// first list with contact info
	&:first-of-type {
		margin-bottom: 0;

		li {
			display: inline-block;
			margin-right: 0.5em;
			font-size: .8125em;
			font-style: italic;
			color: $jhs-green;

			&::before { color: $jhs-green; }			
		}
	}
	
}



