////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////

$font-stack : 'Merriweather', serif;
$font-stack: 'Crimson Text', monospace, serif;

body {
	font-family: serif;
	font-family: $font-stack;

}

h1, h2 {
	color: $brown5;	

}

h1 {
	font-size: 1.5em; // 24px	
	margin-bottom: 0;
}

h2 {
	font-size: 1.125em; // 18px
	margin-top: 1.5em;
	margin-bottom: 0.6em;
	margin-bottom: 0;
}

h3 {
	
	// font-size: 1em;
	font-size: 1.25em;	
	color: $jhs-green;
	// margin: 1.2em 0 0.5em;
	margin: 0.8em 0 .3em;	
	font-weight: 300;
	
	em { 
		// float: right; 
		display: block;
		// float: none;
		line-height: 1.7;
		font-size: 0.7em;
		font-weight: 700;
	}
}

// regular lists
ul {
	margin-left:0;
	margin-top: 0;
	margin-bottom: 0.4em;
	line-height: 1.4;


	padding-left: 0;
	list-style: none;

	li:before {
		/* Unicode bullet symbol */
    content: '\2022 ';
    /* Bullet color */
    color: $brown4;
    padding-right: 0.5em;
	}

	li {
		line-height: 1.6;

	}
}

// first list with contact info
ul:first-of-type {
	// border: 1px solid pink;
	margin-bottom: 0;
	
	li {
		display: inline-block;
		margin-right: 0.5em;
		font-size: .8125em;
		color: $jhs-green;
		&::before { color: $jhs-green; }
		// &:first-child::before { display: none;  }
	}
}