////////////////////////////////////
// NORMALIZE
@import "_0-normalize";

// BASE
@import '6-bits';
// BASE
@import '6-base';
// TYPOGRAPHY
@import '6-typography';
// DOTS
@import '6-dots';





$bp-small: 500px;

h1 {
	margin-bottom: 0;
}

h3 {
	font-size: 1.25em;
}
h3 em {
	display: block;
	float: none;
	line-height: 1.4;
	font-size: 0.7em;
}

.dot-wrapper {
	margin-bottom: 1em;
	position: relative;	
}

ul:first-of-type {
	border: none;
}


@media screen and (min-width: $bp-small) {
	
	h1 {
		margin-bottom: 1em;
	}

	h3 em {
		float: right;
	}

	.dot-wrapper {
		position: absolute;
	}

	ul:first-of-type li {
		&:first-child::before { display: none; }
	}

}