doctype html
html(lang="en")
	head
		title Tasteclub | Profile
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Font+Name")
		link(href='css/devices.min.css',rel='stylesheet')
		link(href='css/2.css',rel='stylesheet')
	body

		.device-wrapper
			.marvel-device.iphone6.silver
				.top-bar
				.sleep
				.volume
				.camera
				.sensor
				.speaker
				.screen.social-wrapper
					
					include 2_social-wrapper.jade
				
				.home
				.bottom-bar