h1 tasteclub

.hero
	include 2_toon-aaron.svg

h2 Aaron Requena
.btn.btn--square /aaronreq

h3 tumblr
a.btn.btn--round(href='http://aaronreq.tumblr.com/') aaronreq.tumblr.com

h3 twitter
a.btn.btn--round(href='https://twitter.com/Aaronreq') @aaronreq

h3 soundcloud
a.btn.btn--round(href='https://soundcloud.com/aaronreq') aaronreq

h3 website
a.btn.btn--round(href='http://acqtaste.club/jaguar/') acqtaste.club/jaguar