doctype html
html(lang="en")
	head
		title Tasteclub | Gallery
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Font+Name")
		//- link(href='css/devices.min.css',rel='stylesheet')
		link(href='css/3.css',rel='stylesheet')
	
	body
		
		header
			h1 tasteclub
		
		.hero
			h2 aaronreq

		h3 gallery
		.wrapper
			.row
				.column
					img.lightbox(src="img/3-1.jpg")
					h4 series title
				.column
					img.lightbox(src="img/3-10.jpg")
					h4 series title
				.column
					img.lightbox(src="img/3-2.jpg")
					h4 series title



